    ; AAA
    ;mov al, 0x45
    ;add al, 0x23
    ;enable tracing
    ;mov esi, 0x18230001
    ;aaa
    ;disable tracing
    ;mov esi, 0x18230001

    ; AAD8i8
    mov ax, 0x70
    mov esi, 0x18230002
    aad 0xa
    mov esi, 0x18230002
    mov bl, 0x3
    div bl

    ; AAM8i8
    mov al, 0x22
    mov bl, 0x6
    mov esi, 0x18230003
    aam 0xa
    mov esi, 0x18230003

    ; AAS
    mov al, 0x45
    sub al, 0x23
    mov esi, 0x18230004
    aas
    mov esi, 0x18230004

    ; ADC16i16
    mov ax, 0x55
    mov esi, 0x18230005
    adc ax, 0xeee
    mov esi, 0x18230005

    ; ADC16ri
    mov bx, 0x66
    mov esi, 0x18230006
    adc bx, 0x444
    mov esi, 0x18230006

    ; ADC16rr
    mov cx, 0xabc
    mov dx, 0xdef
    mov esi, 0x18230007
    adc cx, dx
    mov esi, 0x18230007

    ; ADC32i32
    mov eax, 0x778
    mov esi, 0x18230008
    adc eax, 0x6fffffff
    mov esi, 0x18230008

    ; ADC32ri
    mov ebx, 0x6789
    mov esi, 0x18230009
    adc ebx, 0x44444
    mov esi, 0x18230009

    ; ADC32rr
    mov ecx, 0x1234
    mov edx, 0x5678
    mov esi, 0x1823000a
    adc ecx, edx
    mov esi, 0x1823000a

    ; ADC8i8
    mov al, 0xbb
    mov esi, 0x1823000b
    adc al, 0x5
    mov esi, 0x1823000b

    ; ADC8ri
    mov ah, 0xaa
    mov esi, 0x1823000c
    adc ah, 0x3
    mov esi, 0x1823000c

    ; ADC8rr
    mov ch, 0xc
    mov dh, 0x10
    mov esi, 0x1823000d
    adc ch, dh
    mov esi, 0x1823000d

    ; ADD16i16
    mov ax, 0x4
    mov esi, 0x1823000e
    add ax, 0xeeee
    mov esi, 0x1823000e

    ; ADD16ri
    mov bx, 0x4
    mov esi, 0x1823000f
    add bx, 0x444
    mov esi, 0x1823000f

    ; ADD16rr
    mov cx, 0x4
    mov dx, 0x5
    mov esi, 0x18230010
    add cx, dx
    mov esi, 0x18230010

    ; ADD32i32
    mov eax, 0x4
    mov esi, 0x18230011
    add eax, 0x6fffffff
    mov esi, 0x18230011

    ; ADD32ri
    mov ebx, 0x2
    mov esi, 0x18230012
    add ebx, 0x44444
    mov esi, 0x18230012

    ; ADD32rr
    mov ecx, 0x1
    mov edx, 0x2
    mov esi, 0x18230013
    add ecx, edx
    mov esi, 0x18230013

    ; ADD8i8
    mov al, 0x4
    mov esi, 0x18230014
    add al, 0x5
    mov esi, 0x18230014

    ; ADD8ri
    mov ah, 0x20
    mov esi, 0x18230015
    add ah, 0x3
    mov esi, 0x18230015

    ; ADD8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x18230016
    add ch, dh
    mov esi, 0x18230016

    ; AND16i16
    mov ax, 0x7
    mov esi, 0x18230017
    and ax, 0xeeee
    mov esi, 0x18230017

    ; AND16ri
    mov bx, 0x7
    mov esi, 0x18230018
    and bx, 0x444
    mov esi, 0x18230018

    ; AND16rr
    mov cx, 0x0
    mov dx, 0x1
    mov esi, 0x18230019
    and cx, dx
    mov esi, 0x18230019

    ; AND32i32
    mov eax, 0x7
    mov esi, 0x1823001a
    and eax, 0x6fffffff
    mov esi, 0x1823001a

    ; AND32ri
    mov ebx, 0x7
    mov esi, 0x1823001b
    and ebx, 0x44444
    mov esi, 0x1823001b

    ; AND32rr
    mov ecx, 0x0
    mov edx, 0x1
    mov esi, 0x1823001c
    and ecx, edx
    mov esi, 0x1823001c

    ; BSWAP32r
    mov ebx, 0x56781234
    mov esi, 0x1823001d
    bswap ebx
    mov esi, 0x1823001d

    ; CDQ
    mov esi, 0x1823001e
    cdq
    mov esi, 0x1823001e

    ; CLC
    mov esi, 0x1823001f
    clc
    mov esi, 0x1823001f

    ; CLD
    mov esi, 0x18230020
    cld
    mov esi, 0x18230020

    ; CMOVA16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230021
    cmova ax, bx
    mov esi, 0x18230021

    ; CMOVA32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230022
    cmova ecx, edx
    mov esi, 0x18230022

    ; CMOVAE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230023
    cmovae ax, bx
    mov esi, 0x18230023

    ; CMOVAE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230024
    cmovae ecx, edx
    mov esi, 0x18230024

    ; CMOVB16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230025
    cmovb ax, bx
    mov esi, 0x18230025

    ; CMOVB32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230026
    cmovb ecx, edx
    mov esi, 0x18230026

    ; CMOVBE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230027
    cmovbe ax, bx
    mov esi, 0x18230027

    ; CMOVBE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230028
    cmovbe ecx, edx
    mov esi, 0x18230028

    ; CMOVE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230029
    cmove ax, bx
    mov esi, 0x18230029

    ; CMOVE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823002a
    cmove ecx, edx
    mov esi, 0x1823002a

    ; CMOVG16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823002b
    cmovg ax, bx
    mov esi, 0x1823002b

    ; CMOVG32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823002c
    cmovg ecx, edx
    mov esi, 0x1823002c

    ; CMOVGE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823002d
    cmovge ax, bx
    mov esi, 0x1823002d

    ; CMOVGE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823002e
    cmovge ecx, edx
    mov esi, 0x1823002e

    ; CMOVL16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823002f
    cmovl ax, bx
    mov esi, 0x1823002f

    ; CMOVL32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230030
    cmovl ecx, edx
    mov esi, 0x18230030

    ; CMOVLE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230031
    cmovle ax, bx
    mov esi, 0x18230031

    ; CMOVLE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230032
    cmovle ecx, edx
    mov esi, 0x18230032

    ; CMOVNE16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230033
    cmovne ax, bx
    mov esi, 0x18230033

    ; CMOVNE32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230034
    cmovne ecx, edx
    mov esi, 0x18230034

    ; CMOVNO16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230035
    cmovno ax, bx
    mov esi, 0x18230035

    ; CMOVNO32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230036
    cmovno ecx, edx
    mov esi, 0x18230036

    ; CMOVNP16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230037
    cmovnp ax, bx
    mov esi, 0x18230037

    ; CMOVNP32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230038
    cmovnp ecx, edx
    mov esi, 0x18230038

    ; CMOVNS16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x18230039
    cmovns ax, bx
    mov esi, 0x18230039

    ; CMOVNS32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823003a
    cmovns ecx, edx
    mov esi, 0x1823003a

    ; CMOVO16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823003b
    cmovo ax, bx
    mov esi, 0x1823003b

    ; CMOVO32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823003c
    cmovo ecx, edx
    mov esi, 0x1823003c

    ; CMOVP16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823003d
    cmovp ax, bx
    mov esi, 0x1823003d

    ; CMOVP32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x1823003e
    cmovp ecx, edx
    mov esi, 0x1823003e

    ; CMOVS16rr
    mov ax, 0x2
    mov bx, 0x4
    mov esi, 0x1823003f
    cmovs ax, bx
    mov esi, 0x1823003f

    ; CMOVS32rr
    mov ecx, 0x44
    mov edx, 0x88
    mov esi, 0x18230040
    cmovs ecx, edx
    mov esi, 0x18230040

    ; CMP16rr
    mov cx, 0x4
    mov dx, 0x7
    mov esi, 0x18230041
    cmp cx, dx
    mov esi, 0x18230041

    ; CMP32i32
    mov eax, 0x6ffffffe
    mov esi, 0x18230042
    cmp eax, 0x6fffffff
    mov esi, 0x18230042

    ; CMP32ri
    mov ebx, 0x44
    mov esi, 0x18230043
    cmp ebx, 0x44444
    mov esi, 0x18230043

    ; CMP32rr
    mov ecx, 0x4
    mov edx, 0x2
    mov esi, 0x18230044
    cmp ecx, edx
    mov esi, 0x18230044

    ; CMP8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x18230045
    cmp ch, dh
    mov esi, 0x18230045

    ; CMPXCHG16r
    mov bx, 0x667
    mov bp, 0x888
    mov esi, 0x18230046
    cmpxchg bx, bp
    mov esi, 0x18230046

    ; CMPXCHG32rr
    mov ebx, 0x6674
    mov ebp, 0x8885
    mov esi, 0x18230047
    cmpxchg ebx, ebp
    mov esi, 0x18230047

    ; CMPXCHG8rr
    mov bh, 0x66
    mov ch, 0x88
    mov esi, 0x18230048
    cmpxchg bh, ch
    mov esi, 0x18230048

    ; DEC16r
    mov dx, 0x30
    mov esi, 0x18230049
    dec dx
    mov esi, 0x18230049

    ; DEC32r
    mov eax, 0x31
    mov esi, 0x1823004a
    dec eax
    mov esi, 0x1823004a

    ; DEC8r
    mov cl, 0x32
    mov esi, 0x1823004b
    dec cl
    mov esi, 0x1823004b

    ; ENTER
    mov eax, esp
    mov edi, ebp
    mov ebx, esp
    sub ebx, 0x4
    mov esi, 0x1823004c
    enter 0x4, 0x0
    cmp ebp, ebx
    mov ebp, 0x0
    mov esi, 0x1823004c
    mov esp, eax
    mov ebp, edi

    ; IDIV16r
    mov ax, 0xaa
    mov bx, 0x4
    mov dx, 0x1
    mov esi, 0x1823004d
    idiv bx
    mov esi, 0x1823004d

    ; IDIV32r
    mov eax, 0x4444
    mov ebx, 0x4
    mov edx, 0x1
    mov esi, 0x1823004e
    idiv ebx
    mov esi, 0x1823004e

    ; IDIV8r
    mov ax, 0xa
    mov bl, 0x4
    mov esi, 0x1823004f
    idiv bl
    mov esi, 0x1823004f

    ; IMUL16r
    mov ax, 0x32
    mov bx, 0xb
    mov esi, 0x18230050
    imul bx
    mov esi, 0x18230050

    ; IMUL16rr
    mov bx, 0x34
    mov cx, 0x45
    mov esi, 0x18230051
    imul bx, cx
    mov esi, 0x18230051

    ; IMUL16rri
    mov bx, 0x3
    mov cx, 0x4
    mov esi, 0x18230052
    imul bx, cx, 0xbbb
    mov esi, 0x18230052

    ; IMUL32r
    mov eax, 0x323
    mov ebx, 0xbbb
    mov esi, 0x18230053
    imul ebx
    mov esi, 0x18230053

    ; IMUL32rr
    mov ebx, 0x20000
    mov ecx, 0x34
    mov esi, 0x18230054
    imul ebx, ecx
    mov esi, 0x18230054

    ; IMUL32rri
    mov ebx, 0x20000
    mov ecx, 0x34
    mov esi, 0x18230055
    imul ebx, ecx, 0xbbbbb
    mov esi, 0x18230055

    ; IMUL8r
    mov al, 0x10
    mov cl, 0xe
    mov esi, 0x18230056
    imul cl
    mov esi, 0x18230056

    ; INC16r
    xor dx, dx
    mov dx, 0x30
    mov esi, 0x18230057
    inc dx
    mov esi, 0x18230057

    ; INC32r
    mov eax, 0x31
    mov esi, 0x18230058
    inc eax
    mov esi, 0x18230058

    ; INC8r
    mov cl, 0x32
    mov esi, 0x18230059
    inc cl
    mov esi, 0x18230059

    ; LAHF
    mov esi, 0x1823005a
    lahf
    mov esi, 0x1823005a

    ; LEA16r
    mov cx, 0x15
    mov edx, 0x8
    mov esi, 0x1823005b
    lea cx, [edx-0x444]
    mov esi, 0x1823005b

    ; LEA32r
    mov ecx, 0x15
    mov edx, 0x8
    mov esi, 0x1823005c
    lea ecx, [edx-0x444]
    mov esi, 0x1823005c

    ; LEAVE
    enter 0x8, 0x1
    mov edi, esp 
    mov ebx, [esp]
    mov eax, ebp
    mov esi, 0x1823005d
    leave
    mov esi, 0x1823005d
    mov esp, edi
    mov [esp], ebx
    mov ebp, eax

    ; MOV16ri
    mov bx, 0x24
    mov esi, 0x1823005e
    mov bx, 0xffcc 
    mov esi, 0x1823005e

    ; MOV16rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x1823005f
    mov ch, dh
    mov esi, 0x1823005f

    ; MOV32ri
    mov ebx, 0x2
    mov esi, 0x18230060
    mov ebx, 0xffccd
    mov esi, 0x18230060

    ; MOV32rr
    mov ecx, 0x8
    mov edx, 0xc
    mov esi, 0x18230061
    mov ecx, edx
    mov esi, 0x18230061

    ; MOV8ri
    mov ah, 0x2
    mov esi, 0x18230062
    mov ah, 0x3
    mov esi, 0x18230062

    ; MOV8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x18230063
    mov ch, dh
    mov esi, 0x18230063

    ; MOVSX16rr8
    mov bx, 0x3000
    mov bl, 0x35
    mov esi, 0x18230064
    movsx bx, bl
    mov esi, 0x18230064

    ; MOVSX32rr16
    mov eax, 0x55555
    mov ax, 0x3333
    mov esi, 0x18230065
    movsx eax, ax
    mov esi, 0x18230065

    ; MOVSX32rr8
    mov eax, 0x55555
    mov ah, 0x3
    mov esi, 0x18230066
    movsx eax, ah
    mov esi, 0x18230066

    ; MOVZX16rr8
    mov bx, 0x2
    mov bl, 0x3
    mov esi, 0x18230067
    movzx bx, bl
    mov esi, 0x18230067

    ; MOVZX32rr16
    mov edx, 0x12
    mov dx, 0x0
    mov esi, 0x18230068
    movzx edx, dx
    mov esi, 0x18230068

    ; MOVZX32rr8
    mov edx, 0x12
    mov dh, 0x3
    mov esi, 0x18230069
    movzx edx, dh
    mov esi, 0x18230069

    ; NEG16r
    mov bx, 0x10
    mov esi, 0x1823006a
    neg bx
    mov esi, 0x1823006a

    ; NEG32r
    mov ebx, 0x1a
    mov esi, 0x1823006b
    neg ebx
    mov esi, 0x1823006b

    ; NEG8r
    mov dl, 0x1
    mov esi, 0x1823006c
    neg dl
    mov esi, 0x1823006c

    ; NOT16r
    mov cx, 0x8
    mov esi, 0x1823006d
    not cx
    mov esi, 0x1823006d

    ; NOT32r
    mov ecx, 0x999
    mov esi, 0x1823006e
    not ecx
    mov esi, 0x1823006e

    ; NOT8r
    mov dl, 0xaa
    mov esi, 0x1823006f
    not dl
    mov esi, 0x1823006f

    ; OR16i16
    mov ax, 0x3333
    mov esi, 0x18230070
    or ax, 0xeeee
    mov esi, 0x18230070

    ; OR16ri
    mov bx, 0x1212
    mov esi, 0x18230071
    or bx, 0x444
    mov esi, 0x18230071

    ; OR16rr
    mov cx, 0x0
    mov dx, 0x1
    mov esi, 0x18230072
    or cx, dx
    mov esi, 0x18230072

    ; OR32i32
    mov eax, 0x7
    mov esi, 0x18230073
    or eax, 0x6fffffff
    mov esi, 0x18230073

    ; OR32ri
    mov ebx, 0x7
    mov esi, 0x18230074
    or ebx, 0x44444
    mov esi, 0x18230074

    ; OR32rr
    mov ecx, 0x0
    mov edx, 0x1
    mov esi, 0x18230075
    or ecx, edx
    mov esi, 0x18230075

    ; OR8i8
    mov al, 0x6
    mov esi, 0x18230076
    or al, 0x2
    mov esi, 0x18230076

    ; OR8ri
    mov bh, 0x45
    mov esi, 0x18230077
    or bh, 0x82
    mov esi, 0x18230077

    ; OR8rr
    mov cl, 0x78
    mov dl, 0x12
    mov esi, 0x18230078
    or cl, dl
    mov esi, 0x18230078

    ; POP16r
    mov cx, 0x77
    xor di, di
    mov esi, 0x18230079
    push cx
    pop di
    mov esi, 0x18230079

    ; POP32r
    mov ecx, 0x7777
    mov edi, 0x0
    mov esi, 0x1823007a
    push ecx
    pop edi
    mov esi, 0x1823007a

    ; PUSH16r
    mov cx, 0x99
    mov esi, 0x1823007b
    push cx
    mov esi, 0x1823007b
    pop cx

    ; PUSH32r
    mov ecx, 0x9999
    mov esi, 0x1823007c
    push ecx
    mov esi, 0x1823007c
    pop ecx

    ; PUSHi16
    mov esi, 0x1823007d
    push 0xeeee
    mov esi, 0x1823007d
    pop eax

    ; PUSHi32
    mov esi, 0x1823007e
    push 0x7c100052
    mov esi, 0x1823007e
    pop eax

    ; PUSHi8
    mov esi, 0x1823007f
    push 0xff
    mov esi, 0x1823007f
    pop eax

    ; RCL16r1
    mov dx, 0x414
    mov esi, 0x18230080
    rcl dx, 0x1
    mov esi, 0x18230080

    ; RCL16rCL
    mov bx, 0x414
    mov cl, 0x3
    mov esi, 0x18230081
    rcl bx, cl
    mov esi, 0x18230081

    ; RCL16ri
    mov cx, 0x545
    mov esi, 0x18230082
    rcl cx, 0x8
    mov esi, 0x18230082

    ; RCL32r1
    mov eax, 0x56789
    mov esi, 0x18230083
    rcl eax, 0x1   
    mov esi, 0x18230083

    ; RCL32rCL
    mov ebx, 0x4141
    mov cl, 0x2
    mov esi, 0x18230084
    rcl ebx, cl
    mov esi, 0x18230084

    ; RCL32ri
    mov ecx, 0x6789
    mov esi, 0x18230085
    rcl ecx, 0x8
    mov esi, 0x18230085

    ; RCL8r1
    mov ah, 0xa2
    mov esi, 0x18230086
    rcl ah, 0x1
    mov esi, 0x18230086

    ; RCL8rCL
    mov bh, 0x41
    mov cl, 0x4
    mov esi, 0x18230087
    rcl bh, cl
    mov esi, 0x18230087

    ; RCL8ri
    mov ch, 0x56
    mov esi, 0x18230088
    rcl ch, 0x2
    mov esi, 0x18230088

    ; RCR16r1
    mov dx, 0x414
    mov esi, 0x18230089
    rcr dx, 0x1
    mov esi, 0x18230089

    ; RCR16rCL
    mov bx, 0x414
    mov cl, 0x3
    mov esi, 0x1823008a
    rcr bx, cl
    mov esi, 0x1823008a

    ; RCR16ri
    mov cx, 0x545
    mov esi, 0x1823008b
    rcr cx, 0x8
    mov esi, 0x1823008b

    ; RCR32r1
    mov eax, 0x56789
    mov esi, 0x1823008c
    rcr eax, 0x1   
    mov esi, 0x1823008c

    ; RCR32rCL
    mov ebx, 0x4141
    mov cl, 0x2
    mov esi, 0x1823008d
    rcr ebx, cl
    mov esi, 0x1823008d

    ; RCR32ri
    mov ecx, 0x6789
    mov esi, 0x1823008e
    rcr ecx, 0x8
    mov esi, 0x1823008e

    ; RCR8r1
    mov ah, 0xa2
    mov esi, 0x1823008f
    rcr ah, 0x1
    mov esi, 0x1823008f

    ; RCR8rCL
    mov bh, 0x41
    mov cl, 0x4
    mov esi, 0x18230090
    rcr bh, cl
    mov esi, 0x18230090

    ; RCR8ri
    mov ch, 0x56
    mov esi, 0x18230091
    rcr ch, 0x2
    mov esi, 0x18230091

    ; ROL16r1
    mov dx, 0x414
    mov esi, 0x18230092
    rol dx, 0x1
    mov esi, 0x18230092

    ; ROL16rCL
    mov bx, 0x414
    mov cl, 0x3
    mov esi, 0x18230093
    rol bx, cl
    mov esi, 0x18230093

    ; ROL16ri
    mov cx, 0x545
    mov esi, 0x18230094
    rol cx, 0x8
    mov esi, 0x18230094

    ; ROL32r1
    mov eax, 0x56789
    mov esi, 0x18230095
    rol eax, 0x1   
    mov esi, 0x18230095

    ; ROL32rCL
    mov ebx, 0x4141
    mov cl, 0x2
    mov esi, 0x18230096
    rol ebx, cl
    mov esi, 0x18230096

    ; ROL32ri
    mov ecx, 0x6789
    mov esi, 0x18230097
    rol ecx, 0x8
    mov esi, 0x18230097

    ; ROL8r1
    mov ah, 0xa2
    mov esi, 0x18230098
    rol ah, 0x1
    mov esi, 0x18230098

    ; ROL8rCL
    mov bh, 0x41
    mov cl, 0x4
    mov esi, 0x18230099
    rol bh, cl
    mov esi, 0x18230099

    ; ROL8ri
    mov ch, 0x56
    mov esi, 0x1823009a
    rol ch, 0x2
    mov esi, 0x1823009a

    ; ROR16r1
    mov dx, 0x414
    mov esi, 0x1823009b
    ror dx, 0x1
    mov esi, 0x1823009b

    ; ROR16rCL
    mov bx, 0x414
    mov cl, 0x3
    mov esi, 0x1823009c
    ror bx, cl
    mov esi, 0x1823009c

    ; ROR16ri
    mov cx, 0x545
    mov esi, 0x1823009d
    ror cx, 0x8
    mov esi, 0x1823009d

    ; ROR32r1
    mov eax, 0x56789
    mov esi, 0x1823009e
    ror eax, 0x1   
    mov esi, 0x1823009e

    ; ROR32rCL
    mov ebx, 0x4141
    mov cl, 0x2
    mov esi, 0x1823009f
    ror ebx, cl
    mov esi, 0x1823009f

    ; ROR32ri
    mov ecx, 0x6789
    mov esi, 0x182300a0
    ror ecx, 0x8
    mov esi, 0x182300a0

    ; ROR8r1
    mov ah, 0xa2
    mov esi, 0x182300a1
    ror ah, 0x1
    mov esi, 0x182300a1

    ; ROR8rCL
    mov bh, 0x41
    mov cl, 0x4
    mov esi, 0x182300a2
    ror bh, cl
    mov esi, 0x182300a2

    ; ROR8ri
    mov ch, 0x56
    mov esi, 0x182300a3
    ror ch, 0x2
    mov esi, 0x182300a3

    ; SBB16i16
    mov ax, 0x7
    mov esi, 0x182300a4
    sbb ax, 0xeeee
    mov esi, 0x182300a4

    ; SBB16ri
    mov bx, 0x7
    mov esi, 0x182300a5
    sbb bx, 0x444
    mov esi, 0x182300a5

    ; SBB16rr
    mov cx, 0x0
    mov dx, 0x1
    mov esi, 0x182300a6
    sbb cx, dx
    mov esi, 0x182300a6

    ; SBB32i32
    mov eax, 0x7
    mov esi, 0x182300a7
    sbb eax, 0x6fffffff
    mov esi, 0x182300a7

    ; SBB32ri
    mov ebx, 0x7
    mov esi, 0x182300a8
    sbb ebx, 0x44444
    mov esi, 0x182300a8

    ; SBB32rr
    mov ecx, 0x0
    mov edx, 0x1
    mov esi, 0x182300a9
    sbb ecx, edx
    mov esi, 0x182300a9

    ; SBB8i8
    mov al, 0x7
    mov esi, 0x182300aa
    sbb al, 0x5
    mov esi, 0x182300aa

    ; SBB8ri
    mov ah, 0x99
    mov esi, 0x182300ab
    sbb ah, 0x3
    mov esi, 0x182300ab

    ; SBB8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x182300ac
    sbb ch, dh
    mov esi, 0x182300ac

    ; SHL16r1
    mov ax, 0x7
    mov esi, 0x182300ad
    shl ax, 0x1
    mov esi, 0x182300ad

    ; SHL16rCL
    mov bx, 0x9
    mov cl, 0x2
    mov esi, 0x182300ae
    shl bx, cl
    mov esi, 0x182300ae

    ; SHL16ri
    mov cx, 0x78
    mov esi, 0x182300af
    shl cx, 0x8
    mov esi, 0x182300af

    ; SHL32r1
    mov eax, 0x888
    mov esi, 0x182300b0
    shl eax, 0x1
    mov esi, 0x182300b0

    ; SHL32rCL
    mov ebx, 0xbfe
    mov cl, 0x1
    mov esi, 0x182300b1
    shl ebx, cl
    mov esi, 0x182300b1

    ; SHL32ri
    mov ecx, 0x15
    mov esi, 0x182300b2
    shl ecx, 0x8
    mov esi, 0x182300b2

    ; SHL8r1
    mov ah, 0xd
    mov esi, 0x182300b3
    shl ah, 0x1
    mov esi, 0x182300b3

    ; SHL8rCL
    mov bh, 0xa
    mov cl, 0x3
    mov esi, 0x182300b4
    shl bh, cl
    mov esi, 0x182300b4

    ; SHL8ri
    mov ch, 0xa
    mov esi, 0x182300b5
    shl ch, 0x2
    mov esi, 0x182300b5

    ; SHR16r1
    mov ax, 0xe45
    mov esi, 0x182300b6
    shr ax, 0x1
    mov esi, 0x182300b6

    ; SHR16rCL
    mov bx, 0x44
    mov cl, 0x5
    mov esi, 0x182300b7
    shr bx, cl
    mov esi, 0x182300b7

    ; SHR16ri
    mov cx, 0x987
    mov esi, 0x182300b8
    shr cx, 0x8
    mov esi, 0x182300b8

    ; SHR32r1
    mov eax, 0x444444
    mov esi, 0x182300b9
    shr eax, 0x1
    mov esi, 0x182300b9

    ; SHR32rCL
    mov ebx, 0x654
    mov cl, 0x5
    mov esi, 0x182300ba
    shr ebx, cl
    mov esi, 0x182300ba

    ; SHR32ri
    mov ecx, 0x15
    mov esi, 0x182300bb
    shr ecx, 0x8
    mov esi, 0x182300bb

    ; SHR8r1
    mov ah, 0xf
    mov esi, 0x182300bc
    shr ah, 0x1
    mov esi, 0x182300bc

    ; SHR8rCL
    mov bh, 0xe
    mov cl, 0x2
    mov esi, 0x182300bd
    shr bh, cl
    mov esi, 0x182300bd

    ; SHR8ri
    mov ch, 0x8
    mov esi, 0x182300be
    shr ch, 0x2
    mov esi, 0x182300be

    ; STC
    mov esi, 0x182300bf
    stc
    mov esi, 0x182300bf

    ; STD
    mov esi, 0x182300c0
    std
    mov esi, 0x182300c0

    ; SUB16ri
    mov bx, 0x2
    mov esi, 0x182300c1
    sub bx, 0x444
    mov esi, 0x182300c1

    ; SUB32i32
    mov eax, 0x8
    mov esi, 0x182300c2
    sub eax, 0x6fffffff
    mov esi, 0x182300c2

    ; SUB32ri
    mov ebx, 0xc
    mov esi, 0x182300c3
    sub ebx, 0x44444
    mov esi, 0x182300c3

    ; SUB32rr
    mov ecx, 0x1
    mov edx, 0x2
    mov esi, 0x182300c4
    sub ecx, edx
    mov esi, 0x182300c4

    ; SUB8ri
    mov ah, 0xdd
    mov esi, 0x182300c5
    sub ah, 0x3
    mov esi, 0x182300c5

    ; TEST16i16
    mov ax, 0x7
    mov esi, 0x182300c6
    test ax, 0xeeee
    mov esi, 0x182300c6

    ; TEST16ri
    mov bx, 0x7
    mov esi, 0x182300c7
    test bx, 0x444
    mov esi, 0x182300c7

    ; TEST16rr
    mov cx, 0x0
    mov dx, 0x1
    mov esi, 0x182300c8
    test cx, dx
    mov esi, 0x182300c8

    ; TEST32i32
    mov eax, 0x7
    mov esi, 0x182300c9
    test eax, 0x6fffffff
    mov esi, 0x182300c9

    ; TEST32ri
    mov ebx, 0x7
    mov esi, 0x182300ca
    test ebx, 0x44444
    mov esi, 0x182300ca

    ; TEST32rr
    mov ecx, 0x0
    mov edx, 0x1
    mov esi, 0x182300cb
    test ecx, edx
    mov esi, 0x182300cb

    ; TEST8i8
    mov al, 0x7
    mov esi, 0x182300cc
    test al, 0x5
    mov esi, 0x182300cc

    ; TEST8ri
    mov ah, 0x2
    mov esi, 0x182300cd
    test ah, 0x3
    mov esi, 0x182300cd

    ; TEST8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x182300ce
    test ch, dh
    mov esi, 0x182300ce

    ; XADD16rr
    mov bx, 0x846
    mov dx, 0x857
    mov esi, 0x182300cf
    xadd bx, dx 
    mov esi, 0x182300cf

    ; XADD32rr
    mov ebx, 0xb46767
    mov ecx, 0xa57877
    mov esi, 0x182300d0
    xadd ebx, ecx
    mov esi, 0x182300d0

    ; XADD8rr
    mov al, 0x45
    mov bl, 0x56
    mov esi, 0x182300d1
    xadd al, bl
    mov esi, 0x182300d1

    ; XCHG16ar
    mov ax, 0x6
    mov bx, 0x7
    mov esi, 0x182300d2
    xchg ax, bx
    mov esi, 0x182300d2

    ; XCHG16rr
    mov bx, 0xc
    mov dx, 0xd
    mov esi, 0x182300d3
    xchg bx, dx
    mov esi, 0x182300d3

    ; XCHG32ar
    mov eax, 0x20
    mov ebx, 0x30
    mov esi, 0x182300d4
    xchg eax, ebx
    mov esi, 0x182300d4

    ; XCHG32rr
    mov ebx, 0x120
    mov ecx, 0x122
    mov esi, 0x182300d5
    xchg ebx, ecx
    mov esi, 0x182300d5

    ; XCHG8rr
    mov bl, 0x4
    mov cl, 0x6
    mov esi, 0x182300d6
    xchg bl, cl
    mov esi, 0x182300d6

    ; XOR16i16
    mov ax, 0x2
    mov esi, 0x182300d7
    xor ax, 0xeeee
    mov esi, 0x182300d7

    ; XOR16ri
    mov bx, 0x2
    mov esi, 0x182300d8
    xor bx, 0x444
    mov esi, 0x182300d8

    ; XOR16rr
    mov cx, 0x2
    mov dx, 0x3
    mov esi, 0x182300d9
    xor cx, dx
    mov esi, 0x182300d9

    ; XOR32i32
    mov eax, 0x12
    mov esi, 0x182300da
    xor eax, 0x6fffffff
    mov esi, 0x182300da

    ; XOR32ri
    mov ebx, 0x12345
    mov esi, 0x182300db
    xor ebx, 0x44444
    mov esi, 0x182300db

    ; XOR32rr
    mov ecx, 0x2
    mov edx, 0x3
    mov esi, 0x182300dc
    xor ecx, edx
    mov esi, 0x182300dc

    ; XOR8i8
    mov al, 0x12
    mov esi, 0x182300dd
    xor al, 0x5
    mov esi, 0x182300dd

    ; XOR8ri
    mov ah, 0x12
    mov esi, 0x182300de
    xor ah, 0x3
    mov esi, 0x182300de

    ; XOR8rr
    mov ch, 0x2
    mov dh, 0x3
    mov esi, 0x182300df
    xor ch, dh
    mov esi, 0x182300df

    ; AND8i8
    mov al, 0xa
    mov esi, 0x182300e0
    and al, 0x5
    mov esi, 0x182300e0

    ; AND8ri
    mov ah, 0xcd
    mov esi, 0x182300e1
    and ah, 0x3
    mov esi, 0x182300e1

    ; AND8rr
    mov ch, 0xa
    mov dh, 0xe8
    mov esi, 0x182300e2
    and ch, dh
    mov esi, 0x182300e2

    ; AND16mi
    mov esi, 0x182300e3
    lea eax, [esp-0x4]
    mov DWORD [eax], 0x44
    and WORD [eax], 0x44
    mov eax, 0x0
    mov esi, 0x182300e3

    ; AND8mi
    mov esi, 0x182300e4
    lea ebx, [esp-0x4]
    mov DWORD [ebx], 0x55
    and BYTE [ebx], 0x44
    mov ebx, 0x0
    mov esi, 0x182300e4

    ; AND32mr
    mov esi, 0x182300e5
    lea eax, [esp-0x4]
    mov DWORD [eax], 0x55555
    mov ebx, 0x77777
    and DWORD [eax], ebx
    mov eax, 0x0
    mov esi, 0x182300e5

    ; AND16mr
    mov esi, 0x182300e6
    lea eax, [esp-0x4]
    mov DWORD [eax], 0x5555
    mov ebx, 0x7777
    and WORD [eax], bx
    mov eax, 0x0
    mov esi, 0x182300e6

    ; AND8mr
    mov esi, 0x182300e7
    lea eax, [esp-0x4]
    mov DWORD [eax], 0x55
    mov ebx, 0x77
    and BYTE [eax], bl
    mov eax, 0x0
    mov esi, 0x182300e7

    ; SUB16i16
    mov ax, 0xa123
    mov esi, 0x182300e8
    sub ax, 0xeeee
    mov esi, 0x182300e8

    ; SUB8i8
    mov al, 0xa1
    mov esi, 0x182300e9
    sub al, 0x5
    mov esi, 0x182300e9

    ; SUB16mr
    mov esi, 0x182300ea
    lea ebx, [esp-0x4]
    mov DWORD [ebx], 0xc8
    mov ecx, 0x3
    sub WORD [ebx], cx
    mov ebx, [ebx]
    mov esi, 0x182300ea

    ; SUB16rm
    mov esi, 0x182300eb
    lea ecx, [esp-0x4]
    mov DWORD [ecx], 0xc8
    mov edx, 0x3
    sub dx, WORD [ecx]
    mov ecx, [ecx]
    mov esi, 0x182300eb

    ; Shr16RCL
    mov ax, 0x14FC
    mov cl, 0x5
    mov esi, 0x182300ec
    shr ax, cl
    mov esi, 0x182300ec

    ; Shr8R1
    mov al, 0x4F
    mov esi, 0x182300ed
    shr al, 0x1
    mov esi, 0x182300ed

    ; Shl16RCL
    mov ax, 0x14fc
    mov cl, 0x5
    mov esi, 0x182300ee
    shl ax, cl
    mov esi, 0x182300ee

    ; Cmova16RR
    mov ax, 0x33
    mov dx, 0x44
    mov esi, 0x182300ef
    cmova ax, dx
    mov esi, 0x182300ef

    ; CMOVA32rm
    mov esi, 0x182300f0
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x3
    cmova eax, [edi]
    mov edi, 0x0
    mov esi, 0x182300f0

    ; Cmova32RR
    mov eax, 0x3333
    mov ecx, 0x4444
    mov esi, 0x182300f1
    cmova eax, ecx
    mov esi, 0x182300f1

    ; OR32mr
    mov esi, 0x182300f2
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x1234abcd
    mov eax, 0x5678fedc
    or [edi], eax
    mov edx, [edi]
    mov edi, 0x0
    mov esi, 0x182300f2

    ; OR32mi
    mov esi, 0x182300f3
    lea edi, [esp-0x4]
    mov DWORD [edi], 0xabcd1234
    or DWORD [edi], 0x5678fedc
    mov edx, [edi]
    mov edi, 0x0
    mov esi, 0x182300f3

    ; Or8RR
    mov al, 0x5E
    mov ah, 0x13
    mov esi, 0x182300f4
    or al, ah
    mov esi, 0x182300f4

    ; OR16rm
    mov esi, 0x182300f5
    lea edi, [esp-0x6]
    mov WORD [edi], 0x1234
    mov ax, 0x5678
    or ax, [edi]
    mov edi, 0x0
    mov esi, 0x182300f5

    ; SBB32rm
    mov esi, 0x182300f6
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x1234abcd
    mov eax, 0x56781234
    sbb eax, [edi]
    mov edi, 0x0
    mov esi, 0x182300f6

    ; SBB32mr
    mov esi, 0x182300f7
    lea edi, [esp-0x4]
    mov DWORD [edi], 0xabcd4321
    mov eax, 0x56781234
    sbb [edi], eax
    mov edx, [edi]
    mov edi, 0x0
    mov esi, 0x182300f7

    ; Bswap32R
    mov eax, 0x56781234
    mov esi, 0x182300f8
    bswap eax
    mov esi, 0x182300f8

    ; Xadd16RR
    mov ax, 0x6824
    mov dx, 0x1479
    mov esi, 0x182300f9
    xadd ax, dx
    mov esi, 0x182300f9

    ; XADD32rm
    mov esi, 0x182300fa
    lea edi, [esp-0x4]
    mov DWORD [edi], 0xabcd4321
    mov eax, 0x56781234
    xadd [edi], eax
    mov edx, [edi]
    mov edi, 0x0
    mov esi, 0x182300fa

    ; Cmpxch16RR
    mov ax, 0x6824
    mov dx, 0x6824
    mov cx, 0x1479
    mov esi, 0x182300fb
    cmpxchg dx, cx
    mov esi, 0x182300fb

    ; Cmpxchg32RR
    mov eax, 0x68244256
    mov edx, 0x54316785
    mov ecx, 0x23423423
    mov esi, 0x182300fc
    cmpxchg edx, ecx
    mov esi, 0x182300fc

    ; CMPXCHG32rm
    mov esi, 0x182300fd
    lea edi, [esp-0x10]
    mov DWORD [edi], 0xabcd4321
    mov eax, 0xabcd4321
    cmpxchg [edi], ecx
    mov edx, [edi]
    mov edi, 0x0
    mov esi, 0x182300fd

    ; Adc16RI
    mov ax, 0xf012
    mov esi, 0x182300fe
    adc ax, 0x1234
    mov esi, 0x182300fe

    ; Adc32RR
    mov eax, 0x1234abcd
    mov edx, 0x2345bcde
    mov esi, 0x182300ff
    adc eax, edx
    mov esi, 0x182300ff

    ; Composite1
    mov eax, 0x18
    mov esi, 0x18230100
    mov ecx, eax
    xor eax, eax
    xor ebx, ebx
    cmp ebx, ecx
    mov esi, 0x18230100

    ; Composite2
    mov ecx, 0x18
    xor ebx, ebx
    xor eax, eax
    inc eax
    mov esi, 0x18230101
again:
    cmp ebx, ecx
    je done
    inc ebx
    add eax, eax
    jmp again
done:
    inc eax
    mov esi, 0x18230101

    ; LOOP
    mov ecx, 0x18
    xor eax, eax
    inc eax
    mov esi, 0x18230102
again_1:
    add eax, eax
    loop again_1
    inc eax
    mov esi, 0x18230102

    ; LOOPNE
    mov eax, 0x4096
    mov ecx, 0x32
    mov esi, 0x18230103
again_2:
    shr eax, 0x1
    loopne again_2
    inc eax
    mov esi, 0x18230103

    ; Add32RR
    xor eax, eax
    inc eax
    mov eax, 0x1
    mov ebx, 0x2
    mov esi, 0x18230104
    add eax, ebx
    mov esi, 0x18230104

    ; Add32RI
    mov eax, 0x2
    mov esi, 0x18230105
    add eax, 0x11111
    mov esi, 0x18230105

    ; Sub32RR
    mov eax, 0x1
    mov ebx, 0x2
    mov esi, 0x18230106
    sub ebx, eax
    mov esi, 0x18230106

    ; Xor32RI
    mov ebx, 0x12345
    mov esi, 0x18230107
    xor ebx, 0x12345
    mov esi, 0x18230107

    ; Test32RR1
    mov ebx, 0x0
    mov esi, 0x18230108
    test ebx, ebx
    mov esi, 0x18230108

    ; Test32RR2
    mov edi, 0x8
    mov eax, 0x12
    mov esi, 0x18230109
    test edi, eax
    mov esi, 0x18230109

    ; Cmp32RR1
    mov eax, 0x4
    mov ebx, 0x2
    mov esi, 0x1823010a
    cmp eax, ebx
    mov esi, 0x1823010a

    ; Cmp32RR2
    mov eax, 0x17
    mov ebx, 0x3
    mov esi, 0x1823010b
    cmp eax, ebx
    mov esi, 0x1823010b

    ; Neg32R
    mov ebx, 0x26
    mov esi, 0x1823010c
    neg ebx
    mov esi, 0x1823010c

    ; Mov32RR
    mov eax, 0x8
    mov ecx, 0x12
    mov esi, 0x1823010d
    mov ecx, eax
    mov esi, 0x1823010d

    ; Mov32RI
    mov esi, 0x1823010e
    mov eax, 0x18111
    mov esi, 0x1823010e

    ; Xor32RR
    mov esi, 0x1823010f
    xor eax, eax
    mov esi, 0x1823010f

    ; MovZx32RR16
    mov eax, 0x18
    mov ebx, 0
    mov esi, 0x18230110
    movzx ebx, ax
    mov esi, 0x18230110

    ; Lea32R1
    mov eax, 0x21
    mov edi, 0x8
    mov esi, 0x18230111
    lea eax, [eax+edi+0x1]
    mov esi, 0x18230111

    ; Lea32R2
    mov eax, 0x515
    mov edx, 0x30
    mov esi, 0x18230112
    lea ecx, [eax+edx*0x4]
    mov esi, 0x18230112

    ; PushPopR
    mov eax, 0x88
    mov edi, 0x0
    mov esi, 0x18230113
    push eax
    pop edi
    mov esi, 0x18230113

    ; Shl32RI
    mov eax, 0x1
    mov esi, 0x18230114
    shl eax, 0xa
    mov esi, 0x18230114

    ; Shr32RI
    mov eax, 0x4096
    mov esi, 0x18230115
    shr eax, 0x6
    mov esi, 0x18230115

    ; Sbb32RR1
    mov ecx, 0x1892
    mov edx, 0x4
    mov esi, 0x18230116
    sbb edx, ecx
    mov esi, 0x18230116

    ; Sbb32RR2
    clc 
    mov ecx, 0xffffff67
    mov edx, 0x19
    mov esi, 0x18230117
    sbb edx, ecx
    mov esi, 0x18230117

    ; Not32R
    mov eax, 0x21
    mov esi, 0x18230118
    not eax
    mov esi, 0x18230118

    ; ADD16rm
    mov esi, 0x18230119
    lea eax, [esp-0x10]
    mov DWORD [eax], 0x1000
    mov bx, 0x2
    add bx, [eax]
    mov eax, [eax]
    mov esi, 0x18230119

    ; Std
    mov esi, 0x1823011a
    std
    mov esi, 0x1823011a

    ; Cld
    mov esi, 0x1823011b
    cld
    mov esi, 0x1823011b

    ; Sbb32RI
    mov esi, 0x1823011c
    sbb eax, 0x44
    sbb ecx, 0x43
    mov esi, 0x1823011c

    ; Stc
    mov esi, 0x1823011d
    stc
    mov esi, 0x1823011d

    ; Clc
    mov esi, 0x1823011e
    clc
    mov esi, 0x1823011e

    ; ADD32mr
    mov esi, 0x1823011f
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x8
    mov eax, 0x36
    add [edi], eax
    mov eax, [edi]
    mov edi, 0x0
    mov esi, 0x1823011f

    ; Sar32RI1
    mov ebx, 0x56
    mov esi, 0x18230120
    sar ebx, 0x3
    mov esi, 0x18230120

    ; Sar32RI2
    mov esi, 0x18230121
    sar ebx, 0x0
    mov esi, 0x18230121

    ; Pushl32m
    mov esi, 0x18230122
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x8
    push DWORD [edi]
    pop ecx
    xor edi, edi
    mov esi, 0x18230122

    ; FADDP
    lea edi, [esp-0xc]
    mov DWORD [edi], 0x2168c000
    mov DWORD [edi+0x4], 0xc90fdaa2
    mov DWORD [edi+0x8], 0x00004000
    fld TWORD [edi]
    fld TWORD [edi]
    mov esi, 0x18230123
    faddp st1, st0
    mov edi, 0x0
    mov esi, 0x18230123

    ; FSTENVm
    mov esi, 0x18230124
    lea edi, [esp-0x1c]
    fstenv [edi]
    mov eax, [edi] ;control word
    mov ebx, [edi+0x4] ;status word
    mov ecx, [edi+0x8] ;tag word
    ;mov edx, [edi+0xc] ;EIP - unsupported
    ;mov esi, [edi+0x10] ;FOPCODE + FPU EIP Segment - unsupported
    ;mov ebp, [edi+0x14] ;data pointer - unsupported
    ;mov edi, [edi+0x18] ;data pointer selector - unsupported
    mov edi, 0x0
    mov esi, 0x18230124

    ; LD_F32m
    mov esi, 0x18230125
    lea edi, [esp-0x4]
    mov DWORD [edi], 0x40490fdb
    fld DWORD [edi]
    mov edi, 0x0
    mov esi, 0x18230125

    ; LD_F80m
    mov esi, 0x18230126
    lea edi, [esp-0xc]
    mov DWORD [edi], 0x2168c000
    mov DWORD [edi+0x4], 0xc90fdaa2
    mov DWORD [edi+0x8], 0x00004000
    fld TWORD [edi]
    mov edi, 0x0
    mov esi, 0x18230126

    ; LD_Frr
    mov esi, 0x18230127
    fld st1
    mov esi, 0x18230127

    ; ST_F32m
    mov esi, 0x18230128
    lea edi, [esp-0x4]
    fst DWORD [edi]
    mov eax, [edi]
    mov edi, 0x0
    mov esi, 0x18230128

    ; ST_Frr
    mov esi, 0x18230129
    fst st2
    mov esi, 0x18230129

    ; SETNEr
    mov ecx, 0x5
    mov ebx, 0xa
    cmp ecx, ebx
    mov esi, 0x1823012a
    setne al
    mov esi, 0x1823012a

    ; SETNEm
    mov ecx, 0x5
    mov ebx, 0xa
    cmp ecx, ebx
    mov esi, 0x1823012b
    lea edi, [esp-0x4]
    mov DWORD [edi], 0xc
    setne [edi]
    mov eax, [edi]
    xor edi, edi
    mov esi, 0x1823012b

    ; CMP16mi
    mov esi, 0x1823012c
    lea eax, [esp-0x4]
    mov DWORD [eax], 0x200
    cmp WORD [eax], 0x222
    mov eax, 0x0
    mov esi, 0x1823012c

    ; SUB8mr
    mov esi, 0x1823012d
    lea eax, [esp-0x4]
    mov DWORD [eax], 0xc8
    mov ebx, 0x2
    sub BYTE [eax], bl
    mov eax, [eax]
    mov esi, 0x1823012d

    ; SUB8rm
    mov esi, 0x1823012e
    lea eax, [esp-0x4]
    mov DWORD [eax], 0xc8
    mov ebx, 0x2
    sub bl, BYTE [eax]
    mov eax, [eax]
    mov esi, 0x1823012e

    ; NOOP
    mov esi, 0x1823012f
    nop
    mov esi, 0x1823012f
